@media (max-width: 1170px) {
  .input_field input {
    display: none;
  }
  .input_field i {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .left_header {
    display: none;
  }
  .navigation li:nth-child(3) {
    display: flex;
  }
  .navigation li:nth-child(1) {
    display: none;
  }
  .navigation li:nth-child(2) {
    display: none;
  }
  .nav_bar ul li:nth-child(5) {
    display: none;
  }
  .nav_bar ul li:last-child {
    display: flex;
  }
}
@media (max-width: 900px) {
  .right_header {
    display: none;
  }
}
@media (max-width: 800px) {
  .nav_bar ul li {
    padding: 0px 15px;
  }
}
@media (max-width: 694px) {
  .left_header {
    display: none;
  }
  .nav_bar {
    display: none;
  }
  .menu-toggler a i {
    color: #797b7f;
    font-size: 30px;
    margin-left: 10px;
  }
  .menu-toggler {
    display: block;
  }
}
@media (max-width: 500px) {
  .apps,
  .messenger,
  .notification,
  .arrow,
  .add {
    width: 30px;
    height: 30px;
  }
  .navigation li a i {
    font-size: 15px;
  }
  .navigation li a span {
    font-size: 20px;
  }
  .navigation li {
    margin-left: 8px;
  }
  .messenger::after {
    right: -6px;
    font-size: 10px;
  }
  .notification-1::after {
    right: -8px;
    font-size: 10px;
  }
  .menu-toggler a i {
    font-size: 24px;
  }
  .input_field i {
    width: 30px;
    height: 30px;
  }
  .logo {
    width: 30px;
    height: 30px;
    margin-right: 8px;
  }
}
