@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  background: #f0f2f5;
}
/* header css start */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;
  width: 100%;
  padding: 0px 15px;
  background: white;
  box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15);
  position: fixed;
}
.search_bar {
  display: flex;
  align-items: center;
  flex-basis: 320px;
  flex-grow: 0;
}
.logo {
  width: 40px;
  height: 40px;
  margin-right: 8px;
}
.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.input_field {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f0f2f5;
  border-radius: 25px;
}
.input_field i {
  width: 30px;
  display: block;
  font-size: 16px;
  text-align: right;
  padding: 0px 5px;
  color: #797b7f;
  font-weight: 600;
}
.input_field input {
  border: none;
  outline: none;
  width: 200px;
  height: 40px;
  background: #f0f2f5;
  border-radius: 25px;
  font-size: 15px;
  font-weight: 500;
  padding-left: 5px;
}
.menu-toggler {
  display: none;
}
.nav_bar {
  flex-grow: 1;
}
.nav_bar ul {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.nav_bar ul li a {
  text-decoration: none;
}
.nav_bar ul li {
  padding: 0px 25px;
  height: 45px;
  display: flex;
  list-style: none;
  border-radius: 10px;
  align-items: center;
  transition: 0.3s;
  position: relative;
}
.nav_bar ul li::after {
  content: attr(data-tag);
  display: none;
  position: absolute;
  top: 113%;
  left: 19px;
  background-color: #242526;
  color: white;
  text-align: center;
  padding: 8px 10px;
  border-radius: 8px;
  transition: 0.3s;
  font-weight: 500;
}
.nav_bar ul li:hover::after {
  display: block;
}
.nav_bar ul li:hover {
  background: #f0f2f5;
}
.nav_bar ul li a span {
  color: #65676b;
  font-size: 30px;
}
.video::after {
  content: "5+";
  position: absolute;
  top: 0;
  background: #e41e3f;
  color: #fff;
  border-radius: 10px;
  padding: 1px 4px;
  font-size: 14px;
  font-weight: 600;
  right: 12px;
}
.friends::after {
  content: "1+";
  position: absolute;
  top: 0;
  right: 12px;
  background: #e41e3f;
  color: #fff;
  border-radius: 10px;
  padding: 1px 4px;
  font-size: 14px;
  font-weight: 600;
}
.notification-1::after {
  content: "9+";
  position: absolute;
  top: -4px;
  right: -13px;
  background: #e41e3f;
  color: #fff;
  border-radius: 10px;
  padding: 1px 4px;
  font-size: 14px;
  font-weight: 600;
}
.messenger::after {
  content: "3+";
  position: absolute;
  top: -4px;
  right: -13px;
  background: #e41e3f;
  color: #fff;
  border-radius: 10px;
  padding: 1px 4px;
  font-size: 14px;
  font-weight: 600;
}
.nav_bar ul li:last-child {
  display: none;
}
.right_navigation {
  flex-basis: 350px;
  flex-grow: 0;
}
.navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  list-style: none;
}
.navigation li {
  margin-left: 20px;
  transition: 0.3s;
  position: relative;
}
.navigation li:hover {
  background: #d8dbe2;
}
.navigation li:nth-child(3) {
  display: none;
}
.navigation li a span {
  color: #242526;
  font-size: 26px;
}
.navigation li a i {
  font-size: 20px;
}
.profile {
  display: flex;
  align-items: center;
  border-radius: 25px;
  padding: 4px;
  background: unset;
  transition: 0.3s;
}
.profile img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-right: 5px;
}
.profile span {
  font-weight: 500;
}
.apps,
.messenger,
.notification,
.arrow {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f0f2f5;
  border-radius: 50%;
}
.apps:hover {
  background: #000;
}
.messenger i {
  color: #242526;
}
/* header css end */
main {
  max-width: 1536px;
  margin: 0px auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.left_header,
.right_header {
  flex-basis: 330px;
  height: 100vh;
  padding: 20px;
}
/* left_header css start */
.left_header,
.right_header {
  overflow: auto;
  padding-top: 75px;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: unset;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bcc0c4;
  border-radius: 25px;
  display: none;
  transition: 0.3s;
}
.left_header:hover::-webkit-scrollbar-thumb {
  display: block;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.left_header ul li {
  list-style: none;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 15px;
  transition: 0.3s;
  padding: 5px 10px;
}
.left_header ul li span {
  background: #f0f2f5;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.left_header ul li img {
  width: 35px;
  height: 35px;
  margin-right: 10px;
  border-radius: 50%;
}
.underline {
  width: 100%;
  background: #dbdbdb;
  height: 1px;
  margin-left: 10px;
}
.shortcuts {
  margin-top: 12px;
  padding: 5px 10px;
}
.shortcuts button {
  display: none;
}
.shortcuts h4 {
  color: #65676b;
  font-weight: 600;
}
.left_header ul li:hover {
  background: #d8dbe2;
  border-radius: 5px;
  cursor: pointer;
}
/* left_header css end */
.middle_section {
  flex-grow: 1;
  background: white;
}
/* right header css start */
.birthday_container {
  background: white;
  box-shadow: 0 1px 2px rgb(0 0 0 / 20%);
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}
.underline-2 {
  width: 100%;
  background: #dbdbdb;
  height: 1px;
}
.birthday {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.birthday_img {
  display: flex;
  align-items: center;
}
.birthday_img span {
  font-weight: 500;
}
.birthday_img img {
  width: 28px;
  height: 28px;
  margin-right: 8px;
}
.user {
  margin-top: 10px;
}
.user a {
  text-decoration: none;
  color: #3c3c3c;
  font-weight: 600;
}
.user p {
  color: #000000;
  font-weight: 400;
}
.my_page_container {
  margin-top: 12px;
}
.pages {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pages p {
  font-weight: 600;
  color: #65676b;
  font-size: 16px;
}
.pages span {
  color: #65676b;
}
.my_page_container img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 8px;
}
.my_page_container ul li {
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 15px;
  transition: 0.3s;
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.my_page_container ul li:hover {
  background: #d8dbe2;
  cursor: pointer;
}
.contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
.contact h4 {
  color: #65676b;
  font-weight: 600;
}
.contact span {
  color: #65676b;
  font-size: 24px;
  margin-left: 15px;
}
.active_member_container {
  margin-top: 15px;
}
.active_member ul li {
  list-style: none;
  padding: 3px 12px;
}
.active_member ul li img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 8px;
}
.active_member ul li a {
  text-decoration: none;
  display: flex;
  align-items: center;
  font-weight: 600;
  color: #242526;
  position: relative;
  font-size: 15px;
  padding: 5px;
  border-radius: 5px;
  transition: 0.3s;
}
.active_member ul li a:hover {
  background: #d8dbe2;
}
.active_member ul li ::after {
  content: "";
  width: 8px;
  height: 8px;
  background: #31a24c;
  border-radius: 50%;
  position: absolute;
  left: 31px;
  bottom: 6px;
  border: 1px solid #fff;
}
.group_container {
  margin-top: 12px;
  padding: 9px 11px;
}
.group_container ul li {
  list-style: none;
}
.group_container ul li a {
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-top: 10px;
  font-size: 15px;
  color: #000;
  font-weight: 500;
  width: 100%;
  line-height: 21px;
}
.group_container ul li a img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 9px;
}
.group_container ul li a span {
  width: 35px;
  height: 35px;
  background: #d8dbe2;
  border-radius: 50%;
  margin-right: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3c3c3c;
}
.group_container h4 {
  color: #65676b;
  font-weight: 600;
}
/* right header css end */
